<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add menu item</title>
  </head>
  <body>
    <header>
      <h1>Add Menu Item</h1>
    </header>
    <main>
      <form action="/host/add-menu" method="POST">
        <input name="item-name" type="text" placeholder="Enter Dish Name" />
        <input name="price" type="number" placeholder="Enter Dish Price" />
        <input type="submit" />
      </form>
    </main>
  </body>
</html>
